@page "/"


@code {
    private string hashnodeUrl = "https://hashnode.com/@ishrarg";
}
<PageTitle>Home</PageTitle>
<!--
// v0 by Vercel.
// https://v0.dev/t/wfGhVjHKBkc
-->

<div>
  <div class="w-full">
    <header class="w-full py-5 px-3 bg-[#2742a3]">
      <div class="flex items-center justify-center">
        <div class="text-center text-white">
          <h4 class="text-2xl font-bold">I am</h4>

          <h1 class="text-4xl font-bold">Ishrar Godil</h1>
          <p class="mt-4">
            "Transforming businesses through 16 years of expertise in .NET,
            Azure, and the Microsoft technology ecosystem."
          </p>
          <p class="mt-4">
            <a
              href="https://calendly.com/ishrarg"
              target="_blank"
              class="mt-6 bg-[#8b5cf6] text-white px-4 py-2 rounded-md"
            >
              Book a Meet
            </a>
          </p>
        </div>
      </div>
    </header>
    <section>
      <div class="container mx-auto py-12 px-4 flex flex-col items-center">
        <div class="flex flex-col md:flex-row items-center">
          <div class="md:w-1/2">
            <img
              src="/images/IG.jpg"
              alt="Profile"
              class="w-full h-auto rounded-lg shadow-lg"
            />
          </div>
          <div class="md:w-1/2 md:pl-8 mt-8 md:mt-0 text-center">
            <h2 class="text-3xl font-bold">About Me</h2>
            <p class="mt-4">
              With 16 years of extensive experience in .NET, Azure, and SQL
              Server, I specialize in the development, deployment, and
              integration of a wide array of services. As the founder and lead
              consultant at
              <a href="https://sharpstack.net" target="_blank">
                SharpStack Technologies
              </a>
              and
              <a href="https://fraxinusit.com" target="_blank">
                Fraxinus IT Solutions
              </a>
              , I have successfully delivered ERP systems and other business
              solutions to approximately 2,000 businesses, ranging from small
              and medium-sized enterprises to large-scale operations. My work
              has significantly enhanced operational efficiencies and driven
              growth for these organizations.
            </p>
            <p class="mt-4">
              My expertise spans the full spectrum of the Microsoft ecosystem,
              including .NET, SQL, and Azure. This broad knowledge base enables
              me to design and deploy customized solutions that address the
              unique challenges faced by my clients. My portfolio includes a
              diverse array of projects, each tailored to meet specific business
              needs and streamline processes effectively.
            </p>
            <p class="mt-4">
              At SharpStack Technologies, I lead a team of highly skilled
              professionals dedicated to solving complex business problems
              through innovative technological solutions. Our approach is
              grounded in a deep understanding of business requirements,
              meticulous planning, and strategic use of technology. We are
              committed to delivering solutions that align with our clients'
              strategic goals and drive sustainable growth.
            </p>
            <p class="mt-4">
              As an expert consultant, I hold various industry certifications
              that attest to my proficiency and commitment to continuous
              professional development. I am passionate about identifying and
              resolving business process challenges, leveraging my technical
              acumen to create effective and impactful solutions. My goal is to
              empower businesses to achieve their full potential through the
              strategic application of technology.
            </p>
          </div>
        </div>

        <br />
        <h2 class="text-3xl font-bold">I am Here...</h2>
        <br />
        <div class="flex flex-wrap justify-center md:gap-4 gap-4 md:p-4 p-3">
          <a
            class="rounded-full px-2"
            href="https://www.upwork.com/freelancers/ishrarg4"
            title="UpWork"
            target="_blank"
          >
            <img
              src="/images/up.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="https://linkedin.com/in/ishrarg"
            title="LinkedIn"
            target="_blank"
          >
            <img
              src="/images/in.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="https://x.com/ishrarg"
            title="Twitter"
            target="_blank"
          >
            <img
              src="/images/x.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="https://github.com/ishrarg/"
            title="GitHub"
            target="_blank"
          >
            <img
              src="/images/gh.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="https://blog.ishrar.in/"
            title="Blog"
            target="_blank"
          >
            <img
              src="/images/blog.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="@hashnodeUrl"
            title="HashNode"
            target="_blank"
          >
            <img
              src="/images/hn.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="https://www.nuget.org/profiles/ishrarg"
            title="Nuget"
            target="_blank"
          >
            <img
              src="/images/nuget.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
          <a
            class="rounded-full"
            href="https://www.facebook.com/ishrarg"
            title="FaceBook"
            target="_blank"
          >
            <img
              src="/images/fb.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>

          <a class="rounded-full" href="#" target="_blank">
            <img
              src="/images/calendly.png"
              class="size-12 hover:scale-110 transition-transform"
            />
          </a>
        </div>

        <div class="mt-12 text-center gap-5">
          <h2 class="text-3xl font-bold">Certifications</h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-5 place-items-center mt-4 *:md:w-56">
            <img src="/images/MCP.jpg" alt="MCP" />
            <img src="/images/MCTS.png" alt="MCTS" />
            <img src="/images/AZ900.png" alt="Azure 900" />
            <img src="/images/AZ104.png" alt="Azure 104" />
          </div>
        </div>
      </div>
      <footer class="bg-[#1c1917] text-white py-6">
        <div class="container mx-auto px-4 flex justify-between items-center">
          <p>© 2024 Ishrar Godil</p>
          <div class="flex space-x-4"></div>
        </div>
      </footer>
    </section>
  </div>
</div>
